*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
header .sez-nav1{
    background-color: rgb(173, 216, 230);
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocco-header{
    width: 10%;
    min-height: 25px;
    border: 2px dashed black;
    background-color: rgb(218, 165, 32);
        /* DEBUG */
    padding: 5px 10px;
}

.navigazione{
    width: 35%;
    text-align: center;
}

.login{
    text-align: end;
}

.sez-nav2{
    min-height: 350px;
    background-color: rgb(0, 0, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocco-header2{
    width: 40%;
    min-height: 285px;
    border: 2px dashed black;
    background-color: rgb(238, 130, 238);
}

/* regole main */
.sez-main{
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray{
    background-color: rgb(211, 211, 211);
    flex-direction: row-reverse;
}

.blocco-main{
    min-height: 385px;
    margin: 30px 0px;
    border: 2px dashed black;

}

.blue{
    background-color: rgb(30, 144, 255);
    width: 38%;
}

.pink{
    background-color: rgb(255, 192, 203);
    width: 22%;
}

/* sezione 4 più grande */
.green{
    background-color: rgb(34, 139, 34);
    width: 60%;
    min-height: 615px;
}

/* sezione footer link social + link footer */
footer{
    background-color: rgb(35, 39, 42);
}

.sez-footer{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    min-height: 450px;
    margin-bottom: 30px;
}

.social{
    width: 20%;
    background-color: rgb(240, 128, 128);
    border: 2px dashed black;
}

.container{
    width: 40%;
    background-color: rgb(32, 178, 170);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.link-footer{
    width: 25%;
    border: 2px dashed black;
}

/* logo + sign in */
.sez-footer-n2{
    display: flex;
    justify-content: center;
}

.logo-bottone-footer{
    width: 60%;
    height: 60px;
    background-color: rgb(127, 255, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.bottone-footer{
    height: 25px;
    background-color: rgb(245, 174, 183);
    border: 2px dashed black;
    padding: 5px 10px;
    line-height: 10px;
}